<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.itmal.chat.mapper.ChatMessageMapper">

    <!-- 메시지 저장 -->
    <insert id="insertChatMessage" parameterType="ChatMessageDto">
        INSERT INTO chat_message (chat_room_id, sender_id, content, is_read, created_at)
        VALUES (#{chatRoomId}, #{senderId}, #{content}, #{isRead}, #{createdAt})
    </insert>

    <!-- 채팅방의 메시지 목록 조회 -->
    <select id="selectByChatRoomId" parameterType="Long" resultType="ChatMessageDto">
        SELECT * FROM chat_message
        WHERE chat_room_id = #{chatRoomId}
        ORDER BY created_at ASC
    </select>

    <select id="selectByChatRoomIdAndUser" parameterType="map" resultType="ChatMessageDto">
        SELECT cm.* FROM chat_message cm
                             JOIN chat_room cr ON cm.chat_room_id = cr.id
                             JOIN chat_request cq ON cr.chat_request_id = cq.chat_request_id
        WHERE cm.chat_room_id = #{chatRoomId}
          AND (
            (cq.requester_id = #{userId} AND (cr.left_at_a IS NULL OR cm.created_at > cr.left_at_a))
                OR
            (cq.responder_id = #{userId} AND (cr.left_at_b IS NULL OR cm.created_at > cr.left_at_b))
            )
        ORDER BY cm.created_at ASC
    </select>
    <select id="selectLastMessageByChatRoomAndUser" parameterType="map" resultType="ChatMessageDto">
        SELECT cm.* FROM chat_message cm
                             JOIN chat_room cr ON cm.chat_room_id = cr.id
                             JOIN chat_request cq ON cr.chat_request_id = cq.chat_request_id
        WHERE cm.chat_room_id = #{chatRoomId}
          AND (
            (cq.requester_id = #{userId} AND (cr.left_at_a IS NULL OR cm.created_at > cr.left_at_a))
           OR
            (cq.responder_id = #{userId} AND (cr.left_at_b IS NULL OR cm.created_at > cr.left_at_b))
            )
        ORDER BY cm.created_at DESC
            LIMIT 1
    </select>
</mapper>