<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.itmal.auth.repository.LearningLanguageMapper">

    <select id="findAllLanguages" resultType="com.itmal.question.dto.LanguageDto">
        SELECT language_id, language_name, language_code
        FROM language
        ORDER BY language_id
    </select>

    <select id="findLanguageCodesByUserId" resultType="com.itmal.question.dto.LanguageDto">
        SELECT l.language_id, l.language_name, l.language_code
        FROM user_learning_language ull
        JOIN language l ON ull.language_id = l.language_id
        WHERE ull.user_id = #{userId}
    </select>

    <delete id="deleteByUserId">
        DELETE FROM user_learning_language
        WHERE user_id = #{userId}
    </delete>

    <insert id="insertUserLearningLanguagesByNames">
        INSERT INTO user_learning_language (user_id, language_id)
        SELECT #{userId}, language_id FROM language
        WHERE language_name IN
        <foreach item="name" collection="names" open="(" separator="," close=")">
            #{name}
        </foreach>
    </insert>

</mapper>
